div.gallery {
    border: 2px solid rgb(22, 5, 5);
  }
  
  div.gallery:hover {
    border: 2px solid rgb(10, 4, 4);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 25px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 5px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 60%;
      margin: 6px 3;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 200%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }